* {
	box-sizing: border-box;
}

:root {
	height: 100%;
}

body {
	min-height: 98vh;
	font-family: sans-serif;
	font-size: 12pt;
	background: center / cover no-repeat url(ship.avif) fixed;
	background-color: #000;
	color: #eee;
	display: grid;
}

main {
	max-width: 800px;
	margin: auto;
	padding: 1em;
	background: #000d;
	box-shadow: 0 0 10px #000;
	border-radius: 10px;
}

h1 {
	margin: 0 0 1em;
}

a {
	color: #0af;
}
